<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>@ViewData["Title"] - Cint.CodingChallenge.Web</title>

    <script src="~/dist/site.js" asp-append-version="true" defer></script>

    <style>

    </style>
</head>

<body>
    <div class="col-lg-8 mx-auto p-3 py-md-5">

        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Cint.CodingChallenge.Web</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <footer class="pt-5 my-5 text-muted border-top">
            &copy; @DateTime.Today.Year - Cint AB
            <a href="https://htmx.org" class="logo light" target="_blank" rel="noopener noreferrer">&lt;<b>/</b>&gt; htm<b>x</b></a>
        </footer>
    </div>
    <div id="modals-here"
         class="modal modal-blur fade"
         style="display: none"
         aria-hidden="false"
         data-bs-backdrop="true"
         tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

